.atto_easycastms img {
    width: 16px;
}

#id_fieldset_easycastms{
    display: block;
    margin: 0;
    padding: 0;
}

#id_fieldset_easycastms div {
    margin-left: 0;
}

#id_fieldset_easycastms > legend{
    display: none;
}

#id_fieldset_easycastms #mod_ms_browser_preview button{
    display: block;
    margin: 10px 0;
}

#id_fieldset_easycastms #mod_ms_browser_preview iframe{
    width: 240px;
    display: block;
    margin: 0 auto;
    /*width: 100%;*/
    height: 200px;
}

#id_fieldset_easycastms #form_frame {
    width: 100%;
    height: 300px;
    border: none;
}

#id_fieldset_easycastms div.fitem.fitem_ftext > div{
    padding: 0;
}

#id_fieldset_easycastms div.fitem.fitem_ftext > div:first-child{
    text-align: left;
    flex: 0 0 40%;
    max-width: 40%;
    padding-left: 12px;
}

#id_fieldset_easycastms div.fitem.fitem_ftext > div:last-child{
    margin-left: auto;
    flex: 0 0 60%;
    max-width: 60%;
}

#id_fieldset_easycastms .atto_form{
    text-align: right;
}

#id_fieldset_easycastms div.fitem.fitem_ftext{
    display: flex;
    margin: 0;
    margin-bottom: 5px;
    align-items: center;
}

#id_fieldset_easycastms div.fitemtitle{
    display: flex;
}

#id_fieldset_easycastms span.helptooltip{
    padding-left: 12px;
}


#id_fieldset_easycastms div.felement.ftext input{
    margin: auto 0;
}

#atto_easycastms_fitem{
    margin-bottom: 0;
}

div[role="dialog"] form.atto_form {
    padding: 0;
}
div[role="dialog"] form.atto_form button{
    margin: 0;
    margin-top: 10px;
}

#atto_easycastms_form{
    margin-bottom: -.7em;
}
