.mform.atto-ubicast-form fieldset.hidden {
    display: block;
}

.mform.atto-ubicast-form .fitem div.fitemtitle {
    width: 40%;
}

.mform.atto-ubicast-form .fitem .felement {
    margin-left: 45%;
}
